<header class="" id="header">
  <a class="lockup" href="/">
    <svg class="icon icon--logo" id="logo">
      <use xlink:href="#dd-logo"></use>
    </svg>
    <span>Denver Devs</span>
  </a>
  <nav class="nav-container">
    <ul class="nav nav--header">
      <li class="nav__item">
        <a href="/#events" class="nav__link">Events</a>
      </li>
      <li class="nav__item">
        <a href="/about/" class="nav__link">About</a>
      </li>
      <li class="nav__item">
        <a href="/add-your-event/" class="nav__link nav__link--featured">
          <svg class="icon icon--plus">
            <use xlink:href="#icon-plus"></use>
          </svg>
          Add Your Own Event
        </a>
      </li>
    </ul>
  </nav>
</header>
