html {
  font-family: "Muli", sans-serif;
  font-size: calc(1em + .6vw);
  line-height: 1.6;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", serif;
  font-weight: bold;
  margin: 2rem 0 1rem 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2D4F75;
  // border-bottom: 0.1em solid #2D4F75;
}

.amp {
  font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif;
  font-style: italic;
  font-weight: bold;
}

p {
  padding: 0;
  margin: 0;
  max-width: 990px;

  + p {
    margin-top: 20px;
  }
}

.btn {
  color: #fff;
  display: inline-block;
  background: #4183c4;
  margin: 16px 0;
  padding: 8px 12px;
}
