// --- colors -----------------------------------------------------------------

$color-nileBlue: #1E3351;
$color-veniceBlue: #2D4E75;
$color-nugget: #C59120;
$color-upMaroon: #750E11;

// --- fonts ------------------------------------------------------------------

$font-primary-name: "Muli", sans-serif;
$font-accent-name: "Droid Serif", serif;

$font-primary: $font-primary-name, sans-serif;
$font-accent: $font-accent-name, serif;
